Package: systemd-sysv
Status: install ok half-configured
Priority: important
Section: admin
Installed-Size: 140
Maintainer: Debian systemd Maintainers <pkg-systemd-maintainers@lists.alioth.debian.org>
Architecture: arm64
Multi-Arch: foreign
Source: systemd
Version: 247.3-7+deb11u5
Config-Version: 247.3-7+deb11u4
Replaces: sysvinit-core, upstart (<< 1.13.2-0ubuntu10~)
Pre-Depends: systemd
Recommends: libpam-systemd, libnss-systemd
Conflicts: file-rc, systemd-shim, sysvinit-core, upstart (<< 1.13.2-0ubuntu10~)
Description: system and service manager - SysV links
 systemd is a system and service manager for Linux. It provides aggressive
 parallelization capabilities, uses socket and D-Bus activation for starting
 services, offers on-demand starting of daemons, keeps track of processes using
 Linux control groups, maintains mount and automount points and implements an
 elaborate transactional dependency-based service control logic.
 .
 systemd is compatible with SysV and LSB init scripts and can work as a
 drop-in replacement for sysvinit.
 .
 This package provides the manual pages and links needed for systemd
 to replace sysvinit. Installing systemd-sysv will overwrite /sbin/init with a
 link to systemd.
Homepage: https://www.freedesktop.org/wiki/Software/systemd
