[include mcu.cfg]
[include mainsail.cfg]
[include config/drivers.cfg]
[include config/bed.cfg]
[include config/temperature.cfg]
[include config/extruder.cfg]
[include config/fans.cfg]
[include config/lights.cfg]
[include config/adxl.cfg]
[include variables.cfg]
[include macros/*.cfg]

[exclude_object]
[respond]
[force_move]
enable_force_move: True


[printer]
kinematics: corexy
max_velocity: 450 
max_accel: 30000
max_z_velocity: 25
max_z_accel: 1000
square_corner_velocity: 5.0


[quad_gantry_level]
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 450
horizontal_move_z: 30
retries: 10
retry_tolerance: 0.0075
max_adjust: 10


[bed_mesh]
speed: 500
horizontal_move_z: 30
mesh_min: 30, 30
mesh_max: 320,320
fade_start: 1
fade_end: 5.0
probe_count: 11,11
algorithm: bicubic
mesh_pps: 2,2
zero_reference_position: 175, 175
bicubic_tension: 0.2
move_check_distance: 3.0
split_delta_z: .010

[input_shaper]
shaper_freq_x: 62.0 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
shaper_freq_y: 47.0 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
damping_ratio_x: 0.065 # damping ratio for the X axis
damping_ratio_y: 0.122 # damping ratio for the Y axis

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.6061046739125637,
#*# 	  1.9698035970383132,
#*# 	  0.7154463062099801,
#*# 	  0.20038631237121726,
#*# 	  0.26855281032152806,
#*# 	  0.30321265740082437,
#*# 	  -0.1368375957892105,
#*# 	  -0.18522664677617096,
#*# 	  0.14658967197775502,
#*# 	  0.11490443063117864
#*# model_domain = 1.8605168725205734e-07,1.930660183976969e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 30.192525
#*# model_offset = 0.00000
